.Title {
  box-sizing: border-box;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: baseline;
  padding: 5em;
  margin-bottom: 2em;
  background-color: rgb(243, 227, 81);
  color: saddlebrown;
  font-weight: bolder;
}

.Title-Subtitle {
  color: rgba(255, 255, 255, 0.75);
  padding: 1em;
  margin-top: 2em;
  display: flex;
  justify-content: center;
  align-items: baseline;
}